# Ignore everything
*

# Do not ignore directories, so recursion still works
!*/

# Do not ignore Python files
!*.py
!*.json
.venv/


!.gitignore
!requirements.txt

# Unignore .vscode folder and all files inside
!.vscode/
!.vscode/**


